@import "src/scss/default/variables";

.grid-toolbar-cont {
  height: 100%;

  .toolbar-cont {
    .gridBtns {
      float: right;
      padding-bottom: 10px;
      display: flex;
      button {
        margin-left: 5px;
      }
    }
  }
  .flex {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .rightFloat {
    // float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .grid-cont {
    height: 100%;
  }
}

.dropdown-menu {
  max-height: 300px;
  overflow: auto;
  padding: 0px;
  min-width: 300px;

  .items {
    padding: 0px 10px;

    .customCheckbox[type="checkbox"]:before {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #aaa;
      content: "";
      background: #fff;
      cursor: pointer;
    }
    .customCheckbox[type="checkbox"]:after {
      position: relative;
      display: block;
      left: 0px;
      top: -20px;
      width: 20px;
      height: 20px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
    .customCheckbox[type="checkbox"]:checked:after {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACQElEQVRoge3ZP2gUQRiG8b0kkqiISkACSlCwkTQpTCFiBAWLgJIqrSlNIwpWFkGw0dIUAdFK0lhYaBMhFloIoiBaiAgWIkEF8Q8hosQkP4s78ZzbM5nzcqOwT7nMfN/zsjPL7myWFRQUFBQUNE4ptcBKoJRl2cEsy7qyLJsplUpLiZUaA5N+cS21T0PgqN9ZRFtqryiwGbNBkIepvaLB1Zy7MZDaKwocwnIQ5GJqryiwAS+DEC+wPrVbFJgIQizhQGqvKLCvsheqmUjtFQU68SwI8QqbUrtFgQtBiGUcSe0VBfqxEAS5ktorCnTgcRDiDbamdosC42oZTu0VBfbgaxBiKrVXFGjD/SDEe2xL7RYFzuQsqZHUXlFgF+aDELdSe0VRWVL3ghCfsX2tGg5iBtfR28S6YzlLarRZ9cNmnfhY1egt9jahbi/mghDTzXCu17Bb7ffAPI79Zd3poOZcM+92vaaTalnEyQbrHc+pN9Zs77zGJZzLaQ6X0RFRqwcfghp3lY96WgNG1b7QwW2rfMXGjWDuF+xea/c8kcP4lBPmKXasMHckZ97pVrnnCfUpf+iEzKK/zpxuvAvGP0B7q/1DsR48ygkzh6Gc8VPBuG/oS+FeAzbiZk6Y7zhRNW4oZ8zZlO41oB2XckRVrm/B6+D6E6xL7Z4LTikf14SER50L6uyjfwYMKz9O/8T51J6rAgNqn04/eY6u1I6rBjvVnkstYX9qt2gqm/xOVZDx1E4No/yONuh/+wVQUFBQ0FJ+AMrBgcy5jxXMAAAAAElFTkSuQmCC"),
        linear-gradient(
          135deg,
          var(--primaryColor) 0%,
          var(--primaryColor) 100%
        );
      background-size: contain;
    }

    label {
      margin-left: 17px;
    }
  }
}
