.start-process-cont {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    padding: 0px 20px;

    .header-cont {
        display: flex;
        margin: 0px;
        position: relative;

        .header {
            flex-grow: 1;

            h5 {
                margin: 0px;
                text-align: center;
            }
        }
        .action-btns {
            position: absolute;
            right: 0px;
        }
    }

    .process-info-cont {
        margin-top: 10px;
        margin-bottom: 80px;
        width: 100%;
        padding: 15px 30px;
        background: white;
        box-shadow: 0 0 5px 3px #eee;

        .initiate-form {
            margin-bottom: 10px;
            
            .btn-cont {
                margin-top: 25px;
            }
        }

        .flex-prop {
            display: flex;
            
            .doc-upload-cont {
                flex-grow: 1;
                max-width: 50%;
                padding: 10px 0px 0px 20px;
            }
            .form-cont {
                flex-grow: 1;
                max-width: 86%;
                padding: 10px 20px 0px 0px;
                .pdf-container{
                    height: 600px;
                }
            }
        }

    }
}

pdf-viewer {
    display: block;
    height: 80vh;
  }