<div class="start-process-cont">
  <!-- Header Container including action buttons -->
  <div class="header-cont">
    <div class="header">
      <h5>Initiate Contract</h5>
    </div>
    <!-- <div class="action-btns">
          <button class="primarybtnstyle btn" (click)="openSelectModal()" *ngIf="showButton">Select Company Address</button>
          <button class="primarybtnstyle btn" style="margin-left: 10px;" (click)="openEditModal()" *ngIf="showButton">Edit Company</button>
      </div> -->
  </div>

  <div class="process-info-cont">
    <form #form="ngForm" class="initiate-form" (ngSubmit)="formSubmit()">
      <div class="flex-prop">
        <div class="form-cont">
          <app-initiate-ibasis
            [initiation]="initiationData"
            [form]="form"
          ></app-initiate-ibasis>
        </div>
        <div class="doc-upload-cont">
          <app-company-details-ibasis></app-company-details-ibasis>
        </div>
      </div>
      <div class="text-center btn-cont">
        <button
          type="submit"
          [disabled]="!formValid()"
          class="btn primarybtnstyle"
        >
          Submit
        </button>
        <button
          type="reset"
          (click)="back()"
          class="cancelbtn btn secondarybtnstyle"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
